# Visual Studio Code
.vscode/
.history/ 
*.code-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.user
*.userosscache
*.sln.docstates
*.vscode-test
*.code-search
*.code-snippets
*.code-search
*.code-snippets

